<%= link_to "Restaurants", restaurants_path %>
<%= link_to "Account Info", user_path(@user) %>
<%= link_to "Favorites", user_favorites_path(@user.id) %>
<%= link_to "Log Out", logout_path %>
<h1>User Main Page</h1>
<p>Hello <%= @user.first_name + " " + @user.last_name %></p>

<%= form_for @restaurant, :url => fortuitous_path do |f|%>
<%= f.hidden_field :cuisine, :value => @cuisines.sample %>
 <%= f.hidden_field :zip, :value => @user.zip %>
 <%= f.submit "I'm Feeling Fortuitous" %>
<% end %>

<%= render partial: 'shared/notice', locals: { notice: notice } %>
