<h1>User Show Page</h1>
<p><%= @user.first_name + " " + @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= @user.zip %></p>
<p><%= @user.username %></p>

<%= link_to "User Home", users_path %>
<%= link_to "Favorites", user_favorites_path(@user.id) %>
