<div class="p_rest rest_card">
<h2>Account Info</h2>
<p>Name: <%= @user.first_name + " " + @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p>Zip: <%= @user.zip %></p>
<p>Username: <%= @user.username %></p>
<p>Favorite Dishes: <%= @user.favorites.fav_dishes.count %></p>
<%= button_to "Edit User", edit_user_path(@user.id), :method => "get", class:"button" %>
<%= button_to "Back", users_path, :method => "get", class:"button" %>
</div>
