<%= form_for rest do |f| %>
  <%= f.hidden_field :name, value: rest.name %>
  <%= f.hidden_field :cuisine, value: rest.cuisine %>
  <%= f.hidden_field :review_count, value: rest.review_count %>
  <%= f.hidden_field :rating, value: rest.rating %>
  <%= f.hidden_field :price, value: rest.price %>
  <%= f.hidden_field :city, value: rest.city %>
  <%= f.hidden_field :zip, value: rest.zip %>
  <%= f.hidden_field :url, value: rest.url %>
  <%= f.hidden_field :image_url, value: rest.image_url %>
  <%= f.hidden_field :rest_id, value: rest.rest_id %>
  <div class="p_rest"><%= f.submit 'Save to favorites', class:"button" %></div>
<% end %>
