<%= link_to "Search", new_restaurant_path %><br>
<%= link_to "User Home", users_path %><br><br>
<h1>Restaurants Index</h1>
<p>Popular near you?</p>
<%= render partial: 'shared/notice', locals: { notice: notice } %>
<% if !@rests.nil? %>
  <% @rests.each do |r| %>
  <%= render partial: 'shared/show', locals: { r: r } %>
    <%= form_for(r, :action => 'create') do |f| %>
      <%= f.hidden_field :name, value: r.name %>
      <%= f.hidden_field :cuisine, value: r.cuisine %>
      <%= f.hidden_field :review_count, value: r.review_count %>
      <%= f.hidden_field :rating, value: r.rating %>
      <%= f.hidden_field :price, value: r.price %>
      <%= f.hidden_field :city, value: r.city %>
      <%= f.hidden_field :zip, value: r.zip %>
      <%= f.hidden_field :url, value: r.url %>
      <%= f.hidden_field :image_url, value: r.image_url %>
      <%= f.hidden_field :rest_id, value: r.rest_id %>
      <%= f.submit 'Save to favorites' %>
    <% end %><br><br>
  <% end %>
<% else %>
  <h2>Popular user restaurants</h2>
  <% if !@restaurants.nil? %>
    <% @restaurants.each do |r| %>
      <%= render partial: 'shared/show', locals: { r: r } %>
    <% end %>
  <% end %>
<% end %>
