<h2>Search for restaurants</h2>
<%= render partial: 'new', locals: { restaurant: @restaurant } %>

<strong><p>or!</p></strong>

<%= form_for @restaurant, :url => {:action => "search"} do |f|%>
<%= f.hidden_field :cuisine, :value => @cuisines.sample %>
<%= f.hidden_field :zip, :value => @user.zip %>
<%= f.button "I'm Feeling Fortuitous", name: "randomize", value: 50 %><br>
<% end %>
